@import 'styles/variaveis';
@import 'styles/breakpoints';

$entradas: #d73b3b;
$hamburguer: #30201e;
$sopas: #e6c864;
$tapioca: #80aa40;
$gourment: #cf25c7;
$tostato: #62e0da;

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  max-width: 700px;
  @media (max-width: $desktop_xsm) {
      justify-content: flex-end;
  }
  @media (max-width: $mobile) {
      justify-content: flex-start;
  }
  > div {
      margin: 10px;
  }
  &__tipo {
    align-items: center;
    border-radius: 2px;
    display: flex;
    font-weight: bold;
    height: 40px;
    justify-content: center;
    padding: 10px 30px;
    &__entradas {
        background-color: $entradas;
        color: white;
    }
    &__hamburguer {
        background-color: $hamburguer;
        color: white;
    }
    &__sopas {
        background-color: $sopas;
    }
    &__tapioca {
        background-color: $tapioca;
    }
    &__gourment {
        background-color: $gourment;
        color: white;
    }
    &__tostato {
        background-color: $tostato;
    }
  }
  &__porcao,
  &__qtdpessoas,
  &__valor {
    align-items: center;
    display: flex;
    font-size: 1.25rem;
    font-weight: bold;
    justify-content: center;
  }
  &__valor {
    color: $red;
    font-size: 1.7rem;
  }
}